*{
    padding: 0;
    margin: 0;
    color: white;
}
.navbar {
    height: 60px;
    background: #131921;

}

button{
    background-color: #f08804;
    border-radius:5px;
    padding: 2px;

}
#logo{
    color:#f08804;
    font-size: 25px;
}
a{
    margin-right:200px;
    text-decoration-line: none;
}